*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
header{
    margin: auto;
}
body{
    max-height:auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}


.about-section{

    background: url(Rabou.jpeg) no-repeat left;
    background-size: 450px 600px ;
    overflow: hidden;
    object-fit: fill;
    padding: 50px 0;
    margin-left: 160px;
}

.about-section2{

    background: url(Senghak.jpg) no-repeat right;
    background-size: 450px 600px ;
    overflow: hidden;
    object-fit: fill;
    padding: 50px 0;
    margin-right: 160px;
}

.inner-container{
    width: 60%;
    float: right;
    background-image: linear-gradient(#2d557d,#9610fd);
    padding: 150px;
}

.inner-container2{
    width: 60%;
    float: left;
    background-image: linear-gradient(#2d557d,#9610fd);
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.inner-container2 h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
    .inner-container2{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .about-section2{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
    .inner-container2{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        background: none;
        padding: 0;
    }
    .about-section2{
        background: none;
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
    .inner-container2{
        padding: 60px;
    }
}